.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.create-account-container {
    padding: 15px;
    text-align: center;
}

.create-account-container label {
    display: block;
}

.create-account-container .submit-btn {
    margin-top: 15px;
    cursor: pointer;
}

.update-account-container {
    padding: 15px;
    text-align: center;
}

.update-account-container label {
    display: block;
}

.save-btn {
    margin-top: 15px;
    cursor: pointer;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w3-table-all {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-collapse: collapse;
}

.w3-table-all th, .w3-table-all td {
    text-align: left;
    padding: 8px;
}

.w3-table-all th {
    background-color: #4CAF50;
    color: white;
}

.w3-table-all tr:nth-child(even){background-color: #f2f2f2}

.w3-table-all tr:hover {background-color: #ddd;}

.button-container {
    display: flex;
    align-items: center;
}

.button-container>* {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .topnav a, .w3-table-all, .w3-container {
    font-size: 14px;
  }
}
/* Styles for the table */
.w3-table-all tr td:nth-child(4),
.w3-table-all tr th:nth-child(4) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.w3-table-all tr td:nth-child(4) form {
  margin: 0;
}

.w3-table-all tr td:nth-child(4) button {
  margin: 0;
}
.update-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .update-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .update-box label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .update-box input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .update-box button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .update-box button:hover {
    background-color: #005F6B;
  }
  
  @media (max-width: 768px) {
    .update-box {
      width: 90%;
    }
  }
  